/* .container-fluid{
    border: 2px solid red;
} */

/* .row{
    border: 2px dashed blue;
} */

/* [class*="col"]{
    border: 4px dotted orange;
} */

/* --------------------------------------------- */

/* Header */
.logo_header{
    padding: 10px 15px;
}

.logo_header .logo img{
    width: 90px;
}


/* Nav */
.search{
    border: none;
    background-color: transparent;
}

.search img{
    width: 30px;
}


/* Sezione 1 returnal */
#returnal{
    background-image: url("../img/jumbo-bg.png");
    height: 680px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-bottom: 80px;
}

.logo_jumbo{
    width: 100%;
}

.wrapper_returnal img{
    width: 200px;
    display: block;
}

.btn_returnal{
    background-color: #cd3d0f;
    border: none;
}